<div class="come__back">
  <button mat-raised-button (click)="goBack()">Назад</button>
</div>
<div class="hero__details">
  <div class="hero__details-img">
    <img src="{{hero.image}}" alt="{{hero.name}}">
  </div>
  <mat-card class="hero__details-desc">
    <h2>{{hero.name}}</h2>
    <div class="section__first">
      <div class="section__container">
        <div class="section">
          <span class="section_name">Статус</span>
          <p class="text">{{hero.status}}</p>
        </div>
        <div class="section">
          <span class="section_name">Вид персонажа</span>
          <p class="text">{{hero.species}}</p>
        </div>
      </div>
      <div class="section__container">
        <div class="section">
          <span class="section_name">Тип персонажа</span>
          <p class="text">{{hero.type || "None"}}</p>
        </div>
        <div class="section">
          <span class="section_name">Пол персонажа</span>
          <p class="text">{{hero.gender}}</p>
        </div>
      </div>
      <div class="section">
        <span class="section_name">Происхождение</span>
        <p class="text">{{hero.origin.name || "None"}}</p>
      </div>
    </div>
    <div class="section">
      <span class="section_name">Месторасположения</span>
      <p class="text">{{hero.location.name}}</p>
    </div>
  </mat-card>
</div>

